@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,600,700,500italic);

body{
  font-family: 'Raleway', sans-serif;
}

/*ADD NEW FIGHTER FORM */

.addNew-container{
  height: 240px;
}
.addNew-container form{
  padding-top: 15px;
  color: ##212121;
}
.input-name{
  margin-left: 41px;
}
.input-lastname{
  margin-left: 10px;
}
.input-desc{
  margin-left: 12px;
}
.input-avatar{
  margin-left: 13px;
}
.input-exp{
  margin-left: 13px;
}
.addNew-form input[type = "text"],
.addNew-form input[type = "url"],
.addNew-form input[type = "number"] {
  border: none;
  border-bottom: 1px solid #7f8c8d;
  margin-bottom: 4px;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.addNew-form input[type = "text"]:focus,
.addNew-form input[type = "url"]:focus,
.addNew-form input[type = "number"]:focus{
  border-color: #7f8c8d;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(127, 140, 141, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(127, 140, 141, 0.6);
}
.fighter-manager-container .addNew-form button {
  margin-top: 20px;
  background-color: #FF5252;
  color: #fff;
  text-transform: uppercase;
  width: 160px;
  height: 40px;
  border: none;
}


/*LIST OF FIGHTERS */

.fighterList{
  height: calc( 100vh - 240px );
  overflow: scroll;
  -ms-overflow-style: none;
}
.fighterList::-webkit-scrollbar {
    display: none;
}
.fighter-row{
  height: 100px;
  margin-bottom: 10px;
  background-color: #00BCD4;
  width: 100%;
}
.fighter-row img{
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 20px;
  vertical-align: top;
  margin-top: 10px;
}
.fighter-info{
  padding-left: 10px;
  display: inline-block;
}
.fighter-row .fighter-name{
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 6px;
}
.fighter-row .fighter-desc{
  font-style: italic;
  font-size: 12px;
}
.fighterList button {
  float: right;
  margin-top: 34px;
  margin-right: 10px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  background-color: #FF5252;
}
.btn-circle .glyphicon{
  color: #fff;
  padding-top: 1px;
}

/*BATTLEFIELD */

.battlefield{
  height: 100vh;
}
.rules{
  padding-top: 15px;
  text-align: center;
}
.battlefield > button {
  background-color: #FF5252;
  border: none;
  width: 260px;
  height: 40px;
  text-align: center;
  margin: 40px auto;
  display: block;
  color: #fff;
}
.winner{
  text-align: center;
  padding-top: 4px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 30px;
}
.bestFighter p{
  padding-top: 15px;
  font-weight: 600;
}
.lastWin p{
  font-weight: 600;
}
